header {
  background-color: coral;
  text-align: center;
  color: aliceblue;
  padding: 4rem;
}

header p {
  line-height: 1.5;
}

nav {
  background-color: darkorange;
  text-align: center;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 1.5rem 3.5rem;
}
