header {
  background-color: coral;
  text-align: center;
  padding: 15px;
}

nav {
  background-color: darkorange;
  text-align: center;
  padding: 20px;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}
